.latest-news-heading {
    font-size: 2.5rem;
    font-weight: bold;
}

.news-item {
    transition: transform 0.3s ease-in-out;
}

.news-item:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
.category-col-heading {
    padding: 1rem;
}

.cate-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.cate {
    font-weight: bold;
    padding: 0.3rem 2rem;
    background:red ;
    color: white; /* Blue color for category */
}

.date {
    font-size: 1.2rem;
    color: #242424; /* Gray color for date */
}

.category-col-heading p {
    font-size: 1.1rem;
    text-align: end;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.auth {
    /* padding: 1rem; */
    border-top: 1px solid #ddd;
}

.auth-name {
    font-size: 0.9rem;
    color: #555; /* Dark gray color for author name */
    text-align: right;
}
a{
    text-decoration: none !important;
}

.CategoryHome-section{
    width: 100%;
}

.CategoryHome-section .CategoryHome-container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.CategoryHome-section .CategoryHome-container .CategoryHome-heading{
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgb(119, 119, 119);
    border-bottom: 1px solid rgb(119, 119, 119);
    /* text-align: center; */
}

.CategoryHome-section .CategoryHome-container .CategoryHome-heading h3{
    font-size: 30px;
    font-weight: 600;
}

.CategoryHome-section .CategoryHome-container .category-row{
    width: 100%;

    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col{
    width: 25%;
    box-shadow: 0px 0px 10px rgb(212, 212, 212);
    border-radius: 2px;
    overflow: hidden;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .category-col-img{
    width: 100%;
    height: 250px;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .category-col-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .category-col-heading{
    width: 100%;
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .category-col-heading .cate-date{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .category-col-heading .cate-date .cate{
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    background: #FF6F61;
    padding: 5px 10px;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .category-col-heading .cate-date .date{
    font-size: 14px;
    font-weight: 500;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .category-col-heading p{
    font-size: 20px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5; /* Adjust this value based on your font size for proper spacing */
    max-height: 3em; /* Should be line-height * number of lines */
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .auth{
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgb(213, 213, 213);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CategoryHome-section .CategoryHome-container .category-row .category-col .auth p{
    font-size: 15px;
    font: 400;
    color: rgb(185, 185, 185);
    margin: 0;
}

@media (max-width:750px) {

    .CategoryHome-section .CategoryHome-container .category-row{
        flex-direction: column;
        gap: 20px;
    }
    
    .CategoryHome-section .CategoryHome-container .category-row .category-col{
        width: 100%;
    }

    .CategoryHome-section .CategoryHome-container{
        padding: 20px;
    }
    
}