.ad-posting-request{
    height: 400px;
    width: 100%;
    background-size: cover;
    position: relative;
    padding: 100px 0; /* Adjust as needed */
    color: #fff; /* Text color */
    background-position: center;
    background-attachment: fixed;
    background-image: url('https://img.freepik.com/free-vector/spamming-email-spam-girl-cartoon-character-getting-unsolicited-undesirable-electronic-messages-advertising-messaging-commercial-newsletter_335657-363.jpg?t=st=1720627034~exp=1720630634~hmac=fbe282a861c9c53ae14e22976cac2b9800fd7bdc3d9a13d911e333e3af77c392&w=740');
}.ad-content {
    background-color: rgba(0, 0, 0, 0.6); /* Overlay color */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.ad-content p {
    font-size: 18px;
    line-height: 1.6;
}

.ad-content a {
    color: #fff;
    text-decoration: underline;
}

.ad-content a:hover {
    text-decoration: none;
}