.ad-posting-request {
    background-image: url('https://img.freepik.com/free-vector/spamming-email-spam-girl-cartoon-character-getting-unsolicited-undesirable-electronic-messages-advertising-messaging-commercial-newsletter_335657-363.jpg?t=st=1720627034~exp=1720630634~hmac=fbe282a861c9c53ae14e22976cac2b9800fd7bdc3d9a13d911e333e3af77c392&w=740');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-content {
    background-color: rgba(0, 0, 0, 0.75); /* Dark overlay to enhance text visibility */
    padding: 2rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

.ad-content a {
    color: #ffc107; /* Bootstrap warning color */
    text-decoration: underline;
}

.ad-content a:hover {
    color: #fff;
}
